.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #007bff, #004785);
    color: white;
    padding: 20px;
    text-align: left;
    position: relative; 
    overflow: hidden; 
  }
  
  .textContent {
    z-index: 1; /* Ensure text content is above the background image */
    flex: 1;
  }
  
  .title {
    font-size: 70px;
    font-family: Impact, sans-serif;
  }
  
  .caption {
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background-image: url('../../../assets/images/banner.jpeg'); /* Adjust the path as necessary */
    background-size: cover; /* Cover the full area of the container */
    background-position: center; /* Center the background image */
    min-height: 100%; /* Ensure it covers the full height */
    width: 50%; /* Adjust width as needed */
  }
  
  /* Adjustments for responsive design */
  @media (max-width: 768px) {
    .banner {
      flex-direction: column;
    }
  
    .imageContainer {
      width: 100%;
      height: 200px; /* Set a fixed height for mobile or use 'auto' */
      order: -1; /* Image above the text */
    }
  }